body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(117,117,117);
  background-color: rgb(249,250,255);
  font-weight: "bold";

}
html { font-size: 62.5%;
} 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.score{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.color-blue{
  color: #3C70FF;
}
.w-40{
  width: 40%;
}
.with-content{
  width: fit-content;
}
.p-5{
  padding: 1rem;
}
.pointer{
  cursor: pointer;
}
.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.card{
  background-color: rgb(255,255,255);
  border-radius: 1rem;
  margin: 1rem 1rem;
}
.justify-around{
  justify-content : space-around;
}
.justify-center{
  justify-content : center;
}
.wrap{
flex-wrap: wrap;
}
.align-items-center{
  align-items: flex-start;
}
.divider{
  width: 1px;
  height: 90px;
  background-color: rgb(217,217,217);
  align-self: flex-end;
  margin-bottom: 1.2rem;
}
.header{
  height: 16rem;
}
.header .image{
  padding: 1rem;
}
.header  img{
  object-fit: cover;
  width: 100%;
  border-radius: 2rem;
  height: 100%;
}
.grow-2{
  flex-grow: 2;
}
.grow-1{
  flex-grow: 1;
}
.popup{
  width: 600px;
  height: 600px;
  background-color: rgb(255,255,255);
  border-radius: 1rem;
  margin: 1rem 1rem;
  overflow-y: auto;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100;
  background-color: black;
  opacity: .95;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close{
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  color: red;
  font-size: 3rem;
}